<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Listado</title>
</head>
<body>
<table>
    <thead>
    <th>Codigo</th>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Edad</th>
    <th>Estado</th>
    </thead>
    <th:block th:each="estudiante, row: ${estudiantes}">
        <tr>
            <th th:text="${estudiante.codigoEstudiante}"/>
            <th th:text="${estudiante.nombre}"/>
            <th th:text="${estudiante.apellido}"/>
            <th th:text="${estudiante.edad}"/>
            <th th:text="${estudiante.estadoDelegate}"/>
        </tr>
    </th:block>
</table>
<br>
<form th:action="@{/estudiante}">
    <input type="submit" value="Regresar">
</form>

</body>
</html>